/backend/venv
/backend/data
/backend/logs
/backend/media
/backend/.idea
/backend/*.csv
/backend/all_migrations
libs/
/backend/all_migrations
libs/
backend/uv.lock

/logs/**

docker_env/mysql/data
docker_env/mysql/logs
docker_env/milvus
docker_env/nginx
docker_env/milvus
docker_env/nginx
docker_env/redis/data


.idea
.env
.trae/
.history/
.vscode/
*.bat
web/node_modules
xq.txt
/data

samples/audio/**
samples/**/results/

/media

__init__.py
backend/pyproject.toml
backend/all_migrations
docker-compose.yml


node_modules
twine/node_modules
twine/src-tauri/gen
twine/src-tauri/target
nexus/target
package-lock.json
package.json
release/
UltraRAG/
